@{
    ViewData["Title"] = "LogIn";
}
@model LoginUser

<div id="login-form" class="col-4">
    <div id="login-header">
        <h1>Log In</h1>
        <a href="/">Register</a>
    </div>
    <form asp-action="SignIn" asp-controller="Home" method="post">
        <div class="form-group">
            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email">
        </div><br>
        <div class="form-group">
            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password">
        </div><br>
        <button type='submit' class="btn btn-primary">Log In</button>
    </form>
</div>